# Gradle
.gradle/
build/
/local.properties

# Android
/captures
.externalNativeBuild
.cxx
*.aab
*.apk
output-metadata.json

# Logs / OS
*.log
.DS_Store

# IntelliJ / Android Studio
*.iml
.idea/
!/.idea/codeStyles/
!/.idea/runConfigurations.xml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof
